<!DOCTYPE html>
<html>
<head>
    <% include ../partials/header.ejs %>
    <script>
        $(function () {
            $('#myTab li:first-child a').tab('show')
        })
    </script>
</head>
<body>
<% include ../partials/nav.ejs %>

<div class="container">
    <br>

   <div class="row">
        <div class="col-lg-6">
            <img src="<%= event.picture%>" class="mx-auto d-block" width="70%" alt="Responsive image" >
        </div>
        <div class="col-lg-6 my-auto">
            <h1><%= event.name%></h1>
            <hr/>
            <h3><%= event.place%></h3>
            <hr/>
            <h3><%= dateFormat(event.startDate,"dd.mm.yyyy HH:MM")%></h3>
        </div>
    </div>

    <br/>
    <div>
        <%- event.description%>
    </div>


    <div class="row">
    </div>
    <br/>
</div>

<% include ../partials/footer.ejs %>

</body>
