<!DOCTYPE html>
<html>
<head>
    <% include ../partials/header.ejs %>
    <script>
        $(function () {
            $('#myTab li:first-child a').tab('show')
        })
    </script>
</head>
<body>
<% include ../partials/nav.ejs %>

<div class="container">
    <br>

   <div class="row">
        <div class="col-lg-6">
            <img src="<%= event.picture%>" class="mx-auto d-block" width="70%" alt="Responsive image" >
        </div>
        <div class="col-lg-6 my-auto">
            <h1><%= event.name%></h1>
            <hr/>
            <h3><%= event.place%></h3>
            <hr/>
            <h3><%= dateFormat(event.startDate,"dd.mm.yyyy hh:mm")%></h3>
        </div>
    </div>

    <br/>
    <div>
        <%- event.description%>
    </div>

    <!--<ul class="nav nav-tabs" id="myTab" role="tablist">
        <li class="nav-item">
            <a class="nav-link active" id="home-tab" data-toggle="tab" href="#home" role="tab" aria-controls="home" aria-selected="true">О компании</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" id="profile-tab" data-toggle="tab" href="#profile" role="tab" aria-controls="profile" aria-selected="false">Скидки</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" id="messages-tab" data-toggle="tab" href="#messages" role="tab" aria-controls="messages" aria-selected="false">Мероприятия</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" id="settings-tab" data-toggle="tab" href="#settings" role="tab" aria-controls="settings" aria-selected="false">Отзывы</a>
        </li>
    </ul>

    <div class="tab-content">
        <div class="tab-pane active" id="home" role="tabpanel" aria-labelledby="home-tab">
            <h4>Станция технического обслуживания "1-й километр"</h4>

            Автомобиль – неотъемлемая часть повседневной жизни многих людей, которая требует регулярного ухода и,
            к сожалению, иногда дает сбои в работе.Правильный выбор СТО поможет не только сэкономить Ваше время и деньги, но и гарантировать Вашу безопасность на дороге.Предлагаем познакомиться с новой, многофункциональной станцией технического обслуживания автомобилей "1-й  Километр", которая совсем недавно открылась на первом этаже бизнес-центра "Каменногорский". Станция оснащена самым необходимым новейшим оборудованием, чтобы обеспечить широкий спектр услуг:
            <div class="row">
                <div class="col-lg-4">
                    <img src="auto.png" class="img-fluid" alt="Responsive image">
                </div>
                <div class="col-lg-4">
                    <img src="auto.png" class="img-fluid" alt="Responsive image">
                </div>
                <div class="col-lg-4">
                    <img src="auto.png" class="img-fluid" alt="Responsive image">
                </div>
            </div>
            ВСЕ ВИДЫ РЕМОНТА (замена тормозных дисков и колодок, ГРМ, сцепления, масел и фильтров, 3D развал-схождение, проточка тормозных дисков, регулировка фар, чистка бензиновых форсунок, заправка кондиционера и др.);<br/>
            - ДИАГНОСТИКА (компьютерная, проверка уровней технических жидкостей, диагностика и ремонт подвески, двигателя, коробки передач, систем отопления и охлаждения);<br/>
            - ШИНОМОНТАЖ (весь комплекс шиномонтажных работ, балансировка, ремонт повреждений шин и камер в конкретных местах).Автосервис "1-й Километр" сотрудничает с проверенными и надежными поставщиками и предоставляет каждому клиенту возможность подбора и заказа необходимых запасных частей для его автомобиля.

        </div>
        <div class="tab-pane" id="profile" role="tabpanel" aria-labelledby="profile-tab">
            <div class="row">
            Бесплатная диагностика подвески  с 8-00 до 10-00 по предварительной записи<br/>
            Акция продлится до 28 февраля
            </div>
            <div class="row">
            <img src="auto.png" class="img-fluid" alt="Responsive image">
            </div>
        </div>
        <div class="tab-pane" id="messages" role="tabpanel" aria-labelledby="messages-tab">
            <h5>Открытие 25 ноября станции технического обслуживания "1-й километр"</h5>
            Правильный выбор СТО поможет не только сэкономить Ваше время и деньги, но и гарантировать Вашу безопасность на дороге.Предлагаем познакомиться с новой, многофункциональной станцией технического обслуживания автомобилей "1-й  Километр", которая откроется 25 ноября на первом этаже бизнес-центра "Каменногорский". Станция оснащена самым необходимым новейшим оборудованием, чтобы обеспечить широкий спектр услуг:
            <div class="row">
                <div class="col-lg-4">
                    <img src="auto.png" class="img-fluid" alt="Responsive image">
                </div>
                <div class="col-lg-4">
                    <img src="auto.png" class="img-fluid" alt="Responsive image">
                </div>
                <div class="col-lg-4">
                    <img src="auto.png" class="img-fluid" alt="Responsive image">
                </div>
            </div>
        </div>
        <div class="tab-pane" id="settings" role="tabpanel" aria-labelledby="settings-tab">tab 4</div>
    </div>-->



    <div class="row">
    </div>
    <br/>
</div>

<% include ../partials/footer.ejs %>

</body>
