<!DOCTYPE html>
<html>
<head>
    <% include ../partials/header.ejs %></head>
<body>
<% include ../partials/nav.ejs %>

<div class="container">

    <br>
    <div>
        <h1><%= section%></h1>
    </div>
    <br>
    <% for(var i = 0, len = news.length; i<len; i=i+3) {%>
    <div class="row">
        <div class="col-lg-4">
            <a href="/article?id=<%=news[i].id%>">
                <img src="<%= news[i].picture%>" class="img-fluid" alt="Responsive image">
                <%= dateFormat(news[i].createdAt,"dd.mm.yyyy")%>
                <h5><%= news[i].title%></h5>
            </a>
        </div>
        <% if (news[i + 1] !== undefined){%>
        <div class="col-lg-4">
            <a href="/article?id=<%=news[i+1].id%>">
                <img src="<%= news[i + 1].picture%>" class="img-fluid" alt="Responsive image">
                <%= dateFormat(news[i + 1].createdAt,"dd.mm.yyyy")%>
                <h5><%= news[i + 1].title%></h5>
            </a>
        </div>
        <%}%>
        <% if (news[i + 2] !== undefined){%>
        <div class="col-lg-4">
            <a href="/article?id=<%=news[i+2].id%>">
                <img src="<%= news[i + 2].picture%>" class="img-fluid" alt="Responsive image">
                <%= dateFormat(news[i + 2].createdAt,"dd.mm.yyyy")%>
                <h5><%= news[i + 2].title%></h5>
            </a>
        </div>
        <%}%>
    </div>
    <br>
    <%}%>
    <br>
</div>

<% include ../partials/footer.ejs %>

</body>
</html>